<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Histórico</title>
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}?v=1">
</head>
<body>

    <!-- MENU -->
    <nav class="menu">
        <h1>Sistema de Clientes</h1>
    </nav>

    <main class="container">
    <div class="topo-clientes">
        <a href="/listar_cliente" class="btn-inicio">← Voltar</a>
    </div>

    <section class="add-card">
        <h2 class="titulo-lista">📜 Histórico de Operações</h2>

        <table class="tabela-historico">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Tabela</th>
                    <th>Ação</th>
                    <th>Descrição</th>
                    <th>Comando</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log[3] }}</td> <td>{{ log[1] }}</td> <td>
                        <span class="badge {{ log[2].lower() }}">
                            {{ log[2] }}
                        </span>
                    </td>
                    <td>{{ log[4] }}</td> <td>
                        <a href="/ver_sql/{{ log[0] }}" class="btn-sql">Ver SQL</a>
                    </td>
                </tr>
                {% end %}
            </tbody>
        </table>
    </section>
</main>

</body>
</html>